<footer class="section-footer bg-secondary text-white">
    <div class="container">
        <section class="footer-top padding-y-lg">
            <div class="row">
                <!-- Contact Information -->
                <aside class="col-md-4 col-12">
                    <article class="mr-md-4">
                        <h5 class="title">Contact us</h5>
                        <p>Al barsha Dubai, United Arab Emirates</p>
                  <ul class="list-icon">
    <li><i class="icon fas fa-globe"></i> jetstorz.com</li>
    <li><i class="icon fas fa-envelope"></i>sales@jetstorz.com</li>
    <li><i class="icon fas fa-phone"></i>+971 56 270 3784</li>
</ul>
                    </article>
                </aside>

                <!-- Information Links -->
                <aside class="col-md col-6">
                    <h5 class="title">Information</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about_us' %}">About us</a></li>
                        <li><a href="{% url 'why_us' %}">Why Us?</a></li>
                        <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                    </ul>
                </aside>

              <!-- Newsletter Subscription -->
<aside class="col-md-4 col-12">
    <h5 class="title">Newsletter</h5>
    <form class="form-inline mb-3">
        <input type="text" placeholder="Email" name="" class="border-0 w-auto form-control">
        <button class="btn ml-2 btn-warning">Subscribe</button>
    </form>
    <p class="text-white-50 mb-2">Follow us on social media</p>
    <div>
        <a href="https://web.facebook.com/jetstorz" class="btn btn-icon btn-outline-light"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/jetstorz/" class="btn btn-icon btn-outline-light"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@jetstorz" class="btn btn-icon btn-outline-light"><i class="fab fa-youtube"></i></a>
        <!-- Add TikTok Icon -->
        <a href="https://www.tiktok.com/@jetstorz" class="btn btn-icon btn-outline-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
  <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"/>
</svg></a>
    </div>
</aside>

            </div> <!-- row.// -->
            <p class="list-unstyled">© 2024 jetstorz.com, All rights reserved</p>
        </section>

       
    </div>
</footer>
