{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <!-- Product Information -->
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap"> 
                        <div class="img-big-wrap">
                            <img id="mainImage" src="{{ single_product.image.url }}" class="">
                        </div>
                    </article>
                    <!-- Gallery Thumbnails -->
                    <div class="row mt-4">
                        {% for gallery_image in single_product.images.all %}
                            <div class="col-3">
                                <div class="gallery-thumb">
                                    <img src="{{ gallery_image.image.url }}" class="img-thumbnail" onclick="updateMainImage('{{ gallery_image.image.url }}')">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </aside>
                <main class="col-md-6 border-left">
                    <form action="{% url 'place_order' %}" method="POST">
                        {% csrf_token %}        
                        <article class="content-body">
                            <h2 class="title" style="font-size: 1.5rem;">{{ single_product.product_name }}</h2>
                            <div class="mb-3"> 
                                <var class="price h2" style="color: red; font-weight: bold;">{{ single_product.price }} AED</var> 
                            </div> 
                            <!-- Customer Information -->
                            
                            <div class="form-group">
                                <label for="first_name">Full Name</label>
                                <input type="text" name="first_name" class="form-control" required placeholder="Jhon deep..">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input type="text" name="phone" class="form-control" required placeholder="+971...">
                            </div>
                            <div class="form-group">
                                <label for="city">Emirates</label>
                                <select name="city" class="form-control" required>
                                    <option value="" disabled selected>Select</option>
                                    <option value="Abu Dhabi">Abu Dhabi - Free Delivery</option>
                                    <option value="Dubai">Dubai - Free Delivery</option>
                                    <option value="Dubai">SHARJAH - Free delivery</option>
                                    <option value="Dubai">AJMAN - Free delivery</option>
                                    <option value="Dubai">Ras Al Khaimah - Free delivery</option>
                                    <option value="Dubai">Umm Al Quwain - Free delivery</option>
                                    <option value="Dubai">AL AIN - Free delivery</option>
                                    <!-- Add other options here -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantity</label>
                                <select name="quantity" class="form-control" required>
                                    <option value="" disabled selected>Select</option>
                                    {% for variation in single_product.variation_set.all %}
                                        <option value="{{ variation.variation_value }}">{{ variation.variation_value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="address_line_1">Full Address</label>
                                <input type="text" name="address_line_1" class="form-control" required placeholder="Tye here....">
                            </div>
                            <input type="hidden" name="product_title" value="{{ single_product.product_name }}">
                            <input type="hidden" name="product_price" value="{{ single_product.price }}">
                            <hr>
                            {% if single_product.stock <= 0 %}
                                <button type="button" class="btn btn-danger">Out of Stock</button>
                            {% else %}
                                <button type="submit" class="btn btn-primary">Order Now</button>
                            {% endif %}
                        </article>
                    </form>
                </main>
            </div>
        </div>
    </div>
</section>

<section class="section-name padding-y-sm">
   
</section>
<!-- ========================= SECTION END// ========================= -->

<script>
    // Function to update the main product image
    function updateMainImage(imageUrl) {
        document.getElementById('mainImage').src = imageUrl;
    }
</script>

{% endblock %}
